	/* Custom CSS for YouTube Video Downloader */

/* Center the card */
.card {
    margin-top: 50px;
}

/* Adjust card header style */
.card-header {
    color: #fff;
    text-align: center;
}

/* Add some padding to the card body */
.card-body {
    padding: 20px;
}

/* Style the input field */
.form-control {
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
    padding: 12px; /* Padding */
    box-shadow: none; /* Remove shadow */
}

/* Style the button */
.btn-success {
    border-radius: 12px; /* Rounded corners */
	background-color: rgb(41, 153, 46);
	width: 150px;
	height: 30px;
	color: white;
	font-family: monospace;
	font-style: bold;
}

.btn-success:hover {
    background-color: rgb(16, 177, 26);
    color: #fff;
    font-size: 14px;
}
/* Center the button */
.click-btn-down {
    margin: 0 auto;
}

/* Style the select dropdown */
.form-control.formte {
    border-radius: 20px; /* Rounded corners */
    margin-top: 10px; /* Add some margin to the top */
}
/* CSS to center items within a div */
.svg {
    display: flex; /* Use flexbox layout */
    flex-direction: column;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    background-color: rgb(248, 248, 248);
    box-shadow: #9f9797 3px 3px 9px;
    margin: 10px;
    padding: 10px 6px;
    border-radius: 0.5em;
}

.svg svg {
width: 50px;
height: 50px;
fill: rgb(255, 0, 0)
}

#urlarea {
width: 250px;
}

.card {
    background-color: rgb(241, 233, 233);
    margin-top: 1em;
    box-shadow: #9f9797 3px 3px 9px;
    border-radius: 1em;
}

.credit {
    font-size: 20px;
    font-weight: bold;
}
