	//* Custom CSS for YouTube Video Downloader */

/* Center the card */
.card {
    margin-top: 50px;
}

/* Adjust card header style */
.card-header {
    color: #fff;
    text-align: center;
}

/* Add some padding to the card body */
.card-body {
    padding: 20px;
}

/* Style the input field */
.form-control {
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
    padding: 12px; /* Padding */
    box-shadow: none; /* Remove shadow */
}

/* Style the button */
.btn-success {
    border-radius: 20px; /* Rounded corners */
	background-color: red;
	width: 150px;
	height: 30px;
	color: white;
	font-family: monospace;
	font-style: bold;
}

/* Center the button */
.click-btn-down {
    margin: 0 auto;
}

/* Style the select dropdown */
.form-control.formte {
    border-radius: 20px; /* Rounded corners */
    margin-top: 10px; /* Add some margin to the top */
}
/* CSS to center items within a div */
.svg {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    height: 7vh; 
}
#utube {
width: 50px;
height: 50px;
}
#urlarea {
width: 250px;
}

/* Button styles */
.telegram-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.telegram-button:hover {
    background-color: #0056b3;
}

/* Animation */
.telegram-button.clicked {
    animation: pulse 0.5s linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
